body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f2f2f2;
}

.contenedor {
    background: white;
    padding: 20px;
    margin: 15px auto;
    width: 300px;
    border-radius: 10px;
}

.botones button {
    margin: 5px;
    padding: 10px;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
}

h1 {
    color: #333;
}
